version: '3.8'

services:
  mathstudio:
    build: .
    container_name: mathstudio
    restart: unless-stopped
    ports:
      - "5002:5001"
    
    working_dir: /library/mathstudio
    
    volumes:
      - ../:/library
      - /srv/data/math/obsidian/mathematik_obsidian:/obsidian
      
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1

    deploy:
      resources:
        limits:
          memory: 4G
        reservations:
          memory: 2G
